@media screen and (max-width: 1000px){
    .background {
        background-color: black;
        height: 1000px;
        width: 1500px;
    }
    
}

body {
    margin: 0;
}

.logo{
    display: block;
    margin-left: 4.5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}


.background {
    background-color: black;
    height: 740px;
    width: 415px;
}

header{
    color: white;
    font-size: 40px;
    font-family: 'Rock salt';
    text-align: center;
    padding-top: 2rem;
    margin: auto;
} 

.locationInput {
    color: white;
    text-align: center;
    font-family: 'Rock salt';
    border: 1px solid white;
    width: 300px;
    margin: 0 auto;
}

.mapContainer {
    padding-top: 1rem;
}

.homeButton {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: white;
    font-family: 'Rock salt';
    font-size: 15px;
}

.hint {
    color: white;
    text-align: center;
    font-family: 'Rock salt';
    width: 310px;
    margin: 0 auto;
    padding-top: 1.5rem;
    font-size: 11px;
}

.date{
    color: white;
    font-size: 20px;
    font-family: 'Rock salt';
    text-align: center;
    padding-top: 2rem;
    margin: auto;
}

.weather-box{
    color: white;
    font-size: 20px;
    font-family: 'Rock salt';
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: auto;
}

.temp{
    font-size: 60px;
}

.weather-header{
    color: white;
    font-size: 30px;
    font-family: 'Rock salt';
    text-align: center;
    padding: 0;
    border: 1px solid white;
    width: 350px;
    overflow: hidden;
}

.weather-background{
    background-color: black;
    height: 740px;
    width: 415px;
    padding-top: 2rem;
}

.mapButton {
    position: fixed;
    right: 20%;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: white;
    font-family: 'Rock salt';
    font-size: 15px;
}

.weatherHomeButton {
    position: fixed;
    left: 20%;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: white;
    font-family: 'Rock salt';
    font-size: 15px;
}

.temps {
    color: white;
    font-size: 15px;
    font-family: 'Rock salt';
    text-align: center;
}

.joke {
    color: white;
    font-size: 15px;
    font-family: 'Rock salt';
    text-align: center;
    margin-top: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

span{
    font-size: 20px;
}

@media screen and (min-width: 1000px){
    .background {
        background-color: black;
        height: 750px;
        width: 1250px;
    }
    
    .logo {
        text-align: center;
        margin-right: 4rem;
    }

    .mapContainer {
        margin-right: auto;
        margin-left: auto;
        width: 500px;
        padding-right: 5rem;
    }

    .homeButton {
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        color: white;
        font-family: 'Rock salt';
        font-size: 15px;
    }

    .weather-background {
        background-color: black;
        height: 750px;
        width: 1250px;
        padding-top: 2rem;
    }
}

@media screen and (min-width: 1300px){
    .background {
        background-color: black;
        height: 800px;
        width: 1550px;
    }

    .weather-background {
        background-color: black;
        height: 800px;
        width: 1550px;
        padding-top: 2rem;
    }
}