body {
    margin: 0;
}

.logo{
    display: block;
    margin-left: 4.5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}


.background {
    background-color: black;
    height: 736px;
    width: 415px;
}

header{
    color: white;
    font-size: 40px;
    font-family: 'Rock salt';
    text-align: center;
    padding-top: 2rem;
} 

.locationInput {
    color: white;
    text-align: center;
    font-family: 'Rock salt';
    border: 1px solid white;
    width: 200px;
    margin: 0 auto;
}

.mapContainer {
    padding-top: 1rem;
}

.homeButton {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: white;
    font-family: 'Rock salt';
    font-size: 15px;
}